<nav class="footer navbar navbar-default">
    <li style="list-style: none;" class="navbar-brand" href="#">YelpCamp 2017 &copy;</li>
        <ul class="nav navbar-nav navbar-left">
            <li><a class href="/campgrounds"> Home </a></li>
            <li><a href="/campgrounds/new">New Campground</a></li>
        </ul>
      </nav>
    </body>
</html>