<% include ../partials/header %>


<h1 style="text-align: center">Add New Comment to <%= campground.name %></h1>

<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form method="POST" action="/campgrounds/<%= campground._id %>/comments">
                <div class="form-group">
                    <input class="form-control" type="text" name="comments[text]" placeholder="comment"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
                    <a style="display: block; text-align: center" href="/campgrounds">Return to the campground page</a>
            </form>
        </div>
        

    </div>
</div>

<% include ../partials/footer %>